**SF Salaries Exercise**

In [1]:
import pandas as pd
import numpy as np

In [2]:
#1]Read Salaries.csv as a dataframe called sal

In [3]:
sal=pd.read_csv('D:\\PythonClass24\\Pandas\\Salaries.csv',low_memory=False) #reading the csv file

In [4]:
#2] Check the head of the DataFrame

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
#3] Use the info() method to find out how many entries there are

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [8]:
#4] What is the average BasePay

In [9]:
sal['BasePay']=sal['BasePay'].replace('Not Provided',np.nan).astype(float)  #replacing 'Not Provided' values to NaN to Calculate the mean()

In [10]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [11]:
sal['BasePay'].mean()

66325.4488404877

In [12]:
#5] What is the highest amount of OvertimePay in the dataset?

In [13]:
sal['OvertimePay']=sal['OvertimePay'].replace('Not Provided',np.nan).astype(float) #replacing 'Not Provided' values as NaN to calculate max() of OvertimePay

In [14]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [15]:
sal['OvertimePay'].max()

245131.88

In [16]:
#6] What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [17]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [18]:
#7] How much does JOSEPH DRISCOLL make (including benefits)?

In [19]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [20]:
#8] What is the name of the highest paid person (including benefits)?

In [21]:
m=sal['TotalPayBenefits'].max()    #sol1

In [22]:
sal[sal['TotalPayBenefits']==m]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [23]:
sal.loc[sal['TotalPayBenefits'].idxmax()]     #sol2

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [24]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']     #sol3

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [25]:
#9] What is the name of the lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [26]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [27]:
#10] What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [28]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [29]:
 #11] How many unique job titles are there?

In [30]:
sal['JobTitle'].nunique()

2159

In [31]:
#12] What are the top 5 most common jobs?

In [32]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [33]:
#13] How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [34]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [35]:
#14] How many people have the word Chief in their job title?

In [36]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [37]:
sum(sal['JobTitle'].apply(chief_string))

627

In [38]:
sal['JobTitle'].str.contains('Chief',case=False,na=False).sum()

627

In [39]:
sal['JobTitle'].apply(lambda x: 'chief' in str(x).lower()).sum()

627

In [40]:
#15]  Bonus: Is there a correlation between length of the Job Title string and Salary?

In [41]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [42]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000